In [32]:
import pandas as pd
import numpy as np
import altair as alt
df = pd.read_csv("EventOnlyCodeTimeSeries.csv")

In [33]:
codelist = list(set(df.as_matrix().flatten()))
codelist.remove(np.nan)

actionOnly= list(filter(lambda x: x.isupper(),codelist))
featureOnly= list(filter(lambda x: x.islower(),codelist))

/Users/dorislee/.virtualenvs/py37env/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [34]:
# df["t"]=df.index

In [35]:
df = df.stack().reset_index()
df = df.rename(columns={
    "level_0":"t",
    "level_1":"user",
    0:"Event"
})

In [42]:
df.groupby("Event").count()

         t  user
Event
BR      55    55
C       14    14
E       24    24
ID      32    32
IS      26    26
PD     136   136
PS      27    27
W       42    42